@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Space+Grotesk%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_default_styles {
  --mixin-c0mUW0GtEuek_font-family: "Inter", sans-serif;
  --mixin-c0mUW0GtEuek_font-size: 16px;
  --mixin-c0mUW0GtEuek_font-weight: 400;
  --mixin-c0mUW0GtEuek_font-style: normal;
  --mixin-c0mUW0GtEuek_color: #535353;
  --mixin-c0mUW0GtEuek_text-align: left;
  --mixin-c0mUW0GtEuek_text-transform: none;
  --mixin-c0mUW0GtEuek_line-height: 1.5;
  --mixin-c0mUW0GtEuek_letter-spacing: normal;
  --mixin-c0mUW0GtEuek_white-space: pre-wrap;
  --mixin-c0mUW0GtEuek_user-select: text;
  --mixin-c0mUW0GtEuek_text-decoration-line: none;
  --mixin-c0mUW0GtEuek_text-overflow: clip;
  --mixin-mYQIN1JKIuEH_color: #000000;
  --mixin-mYQIN1JKIuEH_font-weight: 900;
  --mixin-mYQIN1JKIuEH_font-size: 72px;
  --mixin-mYQIN1JKIuEH_line-height: 1;
  --mixin-mYQIN1JKIuEH_letter-spacing: -4px;
  --mixin-mYQIN1JKIuEH_white-space: pre-wrap;
  --mixin-QS2MAdHYu8x__color: #000000;
  --mixin-QS2MAdHYu8x__font-size: 48px;
  --mixin-QS2MAdHYu8x__font-weight: 700;
  --mixin-QS2MAdHYu8x__letter-spacing: -1px;
  --mixin-QS2MAdHYu8x__line-height: 1.1;
  --mixin-QS2MAdHYu8x__white-space: pre-wrap;
  --mixin-rrNC76TL63l0_color: #0070f3;
  --mixin-rrNC76TL63l0_white-space: pre-wrap;
  --mixin-RL7-mm-ZQ3OI_color: #000000;
  --mixin-RL7-mm-ZQ3OI_font-size: 32px;
  --mixin-RL7-mm-ZQ3OI_font-weight: 600;
  --mixin-RL7-mm-ZQ3OI_letter-spacing: -0.8px;
  --mixin-RL7-mm-ZQ3OI_line-height: 1.2;
  --mixin-RL7-mm-ZQ3OI_white-space: pre-wrap;
  --mixin--vEzfb4eVD9L_color: #000000;
  --mixin--vEzfb4eVD9L_font-size: 24px;
  --mixin--vEzfb4eVD9L_font-weight: 600;
  --mixin--vEzfb4eVD9L_letter-spacing: -0.5px;
  --mixin--vEzfb4eVD9L_line-height: 1.3;
  --mixin--vEzfb4eVD9L_white-space: pre-wrap;
  --mixin-KZynvqIy-IkR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KZynvqIy-IkR_border-bottom-color: #dddddd;
  --mixin-KZynvqIy-IkR_border-bottom-style: solid;
  --mixin-KZynvqIy-IkR_border-bottom-width: 1px;
  --mixin-KZynvqIy-IkR_border-left-color: #dddddd;
  --mixin-KZynvqIy-IkR_border-left-style: solid;
  --mixin-KZynvqIy-IkR_border-left-width: 1px;
  --mixin-KZynvqIy-IkR_border-right-color: #dddddd;
  --mixin-KZynvqIy-IkR_border-right-style: solid;
  --mixin-KZynvqIy-IkR_border-right-width: 1px;
  --mixin-KZynvqIy-IkR_border-top-color: #dddddd;
  --mixin-KZynvqIy-IkR_border-top-style: solid;
  --mixin-KZynvqIy-IkR_border-top-width: 1px;
  --mixin-KZynvqIy-IkR_border-bottom-left-radius: 3px;
  --mixin-KZynvqIy-IkR_border-bottom-right-radius: 3px;
  --mixin-KZynvqIy-IkR_border-top-left-radius: 3px;
  --mixin-KZynvqIy-IkR_border-top-right-radius: 3px;
  --mixin-KZynvqIy-IkR_font-family: "Inconsolata";
  --mixin-KZynvqIy-IkR_padding-bottom: 1px;
  --mixin-KZynvqIy-IkR_padding-left: 4px;
  --mixin-KZynvqIy-IkR_padding-right: 4px;
  --mixin-KZynvqIy-IkR_padding-top: 1px;
  --mixin-KZynvqIy-IkR_white-space: pre-wrap;
  --mixin-BB3YO0OoAtIc_border-left-color: #dddddd;
  --mixin-BB3YO0OoAtIc_border-left-style: solid;
  --mixin-BB3YO0OoAtIc_border-left-width: 3px;
  --mixin-BB3YO0OoAtIc_color: #888888;
  --mixin-BB3YO0OoAtIc_padding-left: 10px;
  --mixin-BB3YO0OoAtIc_white-space: pre-wrap;
  --mixin-gh_lzimMgr18_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-gh_lzimMgr18_border-bottom-color: #dddddd;
  --mixin-gh_lzimMgr18_border-bottom-style: solid;
  --mixin-gh_lzimMgr18_border-bottom-width: 1px;
  --mixin-gh_lzimMgr18_border-left-color: #dddddd;
  --mixin-gh_lzimMgr18_border-left-style: solid;
  --mixin-gh_lzimMgr18_border-left-width: 1px;
  --mixin-gh_lzimMgr18_border-right-color: #dddddd;
  --mixin-gh_lzimMgr18_border-right-style: solid;
  --mixin-gh_lzimMgr18_border-right-width: 1px;
  --mixin-gh_lzimMgr18_border-top-color: #dddddd;
  --mixin-gh_lzimMgr18_border-top-style: solid;
  --mixin-gh_lzimMgr18_border-top-width: 1px;
  --mixin-gh_lzimMgr18_border-bottom-left-radius: 3px;
  --mixin-gh_lzimMgr18_border-bottom-right-radius: 3px;
  --mixin-gh_lzimMgr18_border-top-left-radius: 3px;
  --mixin-gh_lzimMgr18_border-top-right-radius: 3px;
  --mixin-gh_lzimMgr18_font-family: "Inconsolata";
  --mixin-gh_lzimMgr18_padding-bottom: 3px;
  --mixin-gh_lzimMgr18_padding-left: 6px;
  --mixin-gh_lzimMgr18_padding-right: 6px;
  --mixin-gh_lzimMgr18_padding-top: 3px;
  --mixin-gh_lzimMgr18_white-space: pre-wrap;
  --mixin-emvWH0jYVw3L_display: flex;
  --mixin-emvWH0jYVw3L_flex-direction: column;
  --mixin-emvWH0jYVw3L_align-items: stretch;
  --mixin-emvWH0jYVw3L_justify-content: flex-start;
  --mixin-emvWH0jYVw3L_list-style-position: outside;
  --mixin-emvWH0jYVw3L_padding-left: 40px;
  --mixin-emvWH0jYVw3L_position: relative;
  --mixin-emvWH0jYVw3L_list-style-type: disc;
  --mixin-emvWH0jYVw3L_white-space: pre-wrap;
  --mixin-AVx_epbzwPb3k_display: flex;
  --mixin-AVx_epbzwPb3k_flex-direction: column;
  --mixin-AVx_epbzwPb3k_align-items: stretch;
  --mixin-AVx_epbzwPb3k_justify-content: flex-start;
  --mixin-AVx_epbzwPb3k_list-style-position: outside;
  --mixin-AVx_epbzwPb3k_padding-left: 40px;
  --mixin-AVx_epbzwPb3k_position: relative;
  --mixin-AVx_epbzwPb3k_list-style-type: decimal;
  --mixin-AVx_epbzwPb3k_white-space: pre-wrap;
  --mixin-IzRXWROJbQp4P_color: #000000;
  --mixin-IzRXWROJbQp4P_font-size: 20px;
  --mixin-IzRXWROJbQp4P_font-weight: 600;
  --mixin-IzRXWROJbQp4P_letter-spacing: -0.3px;
  --mixin-IzRXWROJbQp4P_line-height: 1.5;
  --mixin-IzRXWROJbQp4P_white-space: pre-wrap;
  --mixin-xJ9MbGSr2tngK_color: #000000;
  --mixin-xJ9MbGSr2tngK_font-size: 16px;
  --mixin-xJ9MbGSr2tngK_font-weight: 600;
  --mixin-xJ9MbGSr2tngK_line-height: 1.5;
  --mixin-xJ9MbGSr2tngK_white-space: pre-wrap;
  --mixin-gSjKVdD-5i2XV_color: #3291ff;
  --mixin-gSjKVdD-5i2XV_white-space: pre-wrap;
  --mixin-1ithGLVWHA1WX_white-space: pre-wrap;
  --mixin-ee2cShwbe_U0Q_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-c0mUW0GtEuek_font-family);
  font-size: var(--mixin-c0mUW0GtEuek_font-size);
  font-weight: var(--mixin-c0mUW0GtEuek_font-weight);
  font-style: var(--mixin-c0mUW0GtEuek_font-style);
  color: var(--mixin-c0mUW0GtEuek_color);
  text-align: var(--mixin-c0mUW0GtEuek_text-align);
  text-transform: var(--mixin-c0mUW0GtEuek_text-transform);
  line-height: var(--mixin-c0mUW0GtEuek_line-height);
  letter-spacing: var(--mixin-c0mUW0GtEuek_letter-spacing);
  white-space: var(--mixin-c0mUW0GtEuek_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-mYQIN1JKIuEH_color);
  font-weight: var(--mixin-mYQIN1JKIuEH_font-weight);
  font-size: var(--mixin-mYQIN1JKIuEH_font-size);
  line-height: var(--mixin-mYQIN1JKIuEH_line-height);
  letter-spacing: var(--mixin-mYQIN1JKIuEH_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-QS2MAdHYu8x__color);
  font-size: var(--mixin-QS2MAdHYu8x__font-size);
  font-weight: var(--mixin-QS2MAdHYu8x__font-weight);
  letter-spacing: var(--mixin-QS2MAdHYu8x__letter-spacing);
  line-height: var(--mixin-QS2MAdHYu8x__line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-rrNC76TL63l0_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-RL7-mm-ZQ3OI_color);
  font-size: var(--mixin-RL7-mm-ZQ3OI_font-size);
  font-weight: var(--mixin-RL7-mm-ZQ3OI_font-weight);
  letter-spacing: var(--mixin-RL7-mm-ZQ3OI_letter-spacing);
  line-height: var(--mixin-RL7-mm-ZQ3OI_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin--vEzfb4eVD9L_color);
  font-size: var(--mixin--vEzfb4eVD9L_font-size);
  font-weight: var(--mixin--vEzfb4eVD9L_font-weight);
  letter-spacing: var(--mixin--vEzfb4eVD9L_letter-spacing);
  line-height: var(--mixin--vEzfb4eVD9L_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-KZynvqIy-IkR_font-family);
  border-radius: var(--mixin-KZynvqIy-IkR_border-top-left-radius)
    var(--mixin-KZynvqIy-IkR_border-top-right-radius)
    var(--mixin-KZynvqIy-IkR_border-bottom-right-radius)
    var(--mixin-KZynvqIy-IkR_border-bottom-left-radius);
  padding: var(--mixin-KZynvqIy-IkR_padding-top)
    var(--mixin-KZynvqIy-IkR_padding-right)
    var(--mixin-KZynvqIy-IkR_padding-bottom)
    var(--mixin-KZynvqIy-IkR_padding-left);
  border-top: var(--mixin-KZynvqIy-IkR_border-top-width)
    var(--mixin-KZynvqIy-IkR_border-top-style)
    var(--mixin-KZynvqIy-IkR_border-top-color);
  border-right: var(--mixin-KZynvqIy-IkR_border-right-width)
    var(--mixin-KZynvqIy-IkR_border-right-style)
    var(--mixin-KZynvqIy-IkR_border-right-color);
  border-bottom: var(--mixin-KZynvqIy-IkR_border-bottom-width)
    var(--mixin-KZynvqIy-IkR_border-bottom-style)
    var(--mixin-KZynvqIy-IkR_border-bottom-color);
  border-left: var(--mixin-KZynvqIy-IkR_border-left-width)
    var(--mixin-KZynvqIy-IkR_border-left-style)
    var(--mixin-KZynvqIy-IkR_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-BB3YO0OoAtIc_color);
  padding-left: var(--mixin-BB3YO0OoAtIc_padding-left);
  border-left: var(--mixin-BB3YO0OoAtIc_border-left-width)
    var(--mixin-BB3YO0OoAtIc_border-left-style)
    var(--mixin-BB3YO0OoAtIc_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-gh_lzimMgr18_font-family);
  border-radius: var(--mixin-gh_lzimMgr18_border-top-left-radius)
    var(--mixin-gh_lzimMgr18_border-top-right-radius)
    var(--mixin-gh_lzimMgr18_border-bottom-right-radius)
    var(--mixin-gh_lzimMgr18_border-bottom-left-radius);
  padding: var(--mixin-gh_lzimMgr18_padding-top)
    var(--mixin-gh_lzimMgr18_padding-right)
    var(--mixin-gh_lzimMgr18_padding-bottom)
    var(--mixin-gh_lzimMgr18_padding-left);
  border-top: var(--mixin-gh_lzimMgr18_border-top-width)
    var(--mixin-gh_lzimMgr18_border-top-style)
    var(--mixin-gh_lzimMgr18_border-top-color);
  border-right: var(--mixin-gh_lzimMgr18_border-right-width)
    var(--mixin-gh_lzimMgr18_border-right-style)
    var(--mixin-gh_lzimMgr18_border-right-color);
  border-bottom: var(--mixin-gh_lzimMgr18_border-bottom-width)
    var(--mixin-gh_lzimMgr18_border-bottom-style)
    var(--mixin-gh_lzimMgr18_border-bottom-color);
  border-left: var(--mixin-gh_lzimMgr18_border-left-width)
    var(--mixin-gh_lzimMgr18_border-left-style)
    var(--mixin-gh_lzimMgr18_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-emvWH0jYVw3L_display);
  flex-direction: var(--mixin-emvWH0jYVw3L_flex-direction);
  align-items: var(--mixin-emvWH0jYVw3L_align-items);
  justify-content: var(--mixin-emvWH0jYVw3L_justify-content);
  list-style-position: var(--mixin-emvWH0jYVw3L_list-style-position);
  padding-left: var(--mixin-emvWH0jYVw3L_padding-left);
  position: var(--mixin-emvWH0jYVw3L_position);
  list-style-type: var(--mixin-emvWH0jYVw3L_list-style-type);
  flex-column-gap: var(--mixin-emvWH0jYVw3L_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-AVx_epbzwPb3k_display);
  flex-direction: var(--mixin-AVx_epbzwPb3k_flex-direction);
  align-items: var(--mixin-AVx_epbzwPb3k_align-items);
  justify-content: var(--mixin-AVx_epbzwPb3k_justify-content);
  list-style-position: var(--mixin-AVx_epbzwPb3k_list-style-position);
  padding-left: var(--mixin-AVx_epbzwPb3k_padding-left);
  position: var(--mixin-AVx_epbzwPb3k_position);
  list-style-type: var(--mixin-AVx_epbzwPb3k_list-style-type);
  flex-column-gap: var(--mixin-AVx_epbzwPb3k_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-IzRXWROJbQp4P_color);
  font-size: var(--mixin-IzRXWROJbQp4P_font-size);
  font-weight: var(--mixin-IzRXWROJbQp4P_font-weight);
  letter-spacing: var(--mixin-IzRXWROJbQp4P_letter-spacing);
  line-height: var(--mixin-IzRXWROJbQp4P_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-xJ9MbGSr2tngK_color);
  font-size: var(--mixin-xJ9MbGSr2tngK_font-size);
  font-weight: var(--mixin-xJ9MbGSr2tngK_font-weight);
  line-height: var(--mixin-xJ9MbGSr2tngK_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-gSjKVdD-5i2XV_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
